# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyInstaller
dist/
build/

# Pytest / Unittest
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDEs and editors
.vscode/
.idea/
*.vscode/
*.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
env/
venv/
*.env

# Data files
data/
*.csv
*.json

# Miscellaneous
*.tmp
*.bak
*.swp
*.swo

# Drawings
*.drawio
*.drawio.svg
*.drawio.png 
*.dio
*.excalidraw*